* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.superhero-container {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 40px;
}

input {
    margin-left: 2px;
}

a {
    margin-right: 10px;
}