
            span{
                color:darkred;
            }
            div{
                color:green;
            }
            #month{
                color:orange
            }
       .red{
           color:red
       }
       #opt{
           color:crimson
       }
       #formI{
           color:yellow
       }